<h1>{{ title }}</h1>
<p>
{{ description }}
</p>

{{ table | table }}

{{ if video | is_embeddable }}
    <!-- Youtube and Vimeo -->
    <iframe src="{{ video | embed_url }}" ...></iframe>
{{ else }}
    <!-- Other HTML5 video types -->
    <video src="{{ video | embed_url }}" ...></video>
{{ /if }}


<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
{{ assets }}
		<img class="w-full" src="{{ url }}" alt="{{ alt }}" />
{{ /assets }}
</div>


{{ form:testform }}
    {{ if success }}
        <div class="bg-green-300 text-white p-2">
            {{ success }}
        </div>
    {{ else }}
        {{ if errors }}
            <div class="bg-red-300 text-white p-2">
                {{ errors }}
                    {{ value }}<br>
                {{ /errors }}
            </div>
        {{ /if }}

        {{ fields }}
            <div class="p-2">
                <label>{{ display }}</label>
                <div class="p-1">{{ field }}</div>
                {{ if error }}
                    <p class="text-gray-500">{{ error }}</p>
                {{ /if }}
            </div>
        {{ /fields }}
        <button type="submit">Submit</button>
    {{ /if }}
{{ /form:testform }}